$primary: #5265E1;
$secondary: #FA5959;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.btn-secondary {
    color: white;
    font-weight: bold;
}

.btn-primary {
    color: white;
    font-weight: bold;
}

.hero-content>h1 {
    font-size: 50px;
    font-weight: normal;
}

body p {
    color: rgb(149, 147, 147);
    font-size: 1.4rem;
}

body h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.image-hero-container {
    position: relative;
    width: 100%;
    height: auto;
}

.image-hero img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
}

.hero-mancha {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 120vh;
    height: 80%;
    border-radius: 80vh;
    background-color: $primary;
    z-index: -1;
}

html,
body {
    overflow-x: hidden;
}

.custom-nav-underline {
    border-bottom: 1px solid lightgrey;
}

.custom-nav-link {
    color: rgb(149, 147, 147);
    font-size: 1.4rem;
    font-weight: 500;
}

.custom-nav-link.active {
    color: rgb(99, 99, 99) !important;
    border-bottom: 5px solid $secondary !important;
}

.custom-nav-link:hover {
    color: rgb(99, 99, 99);
    border-bottom: 5px solid $secondary !important;
}

@media (max-width: 768px) {
    .custom-nav-underline {
        --bs-nav-underline-gap: 0;
        display: block;
        text-align: center;
        width: 100%;
    }

    .custom-nav-link {
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
    }

    .custom-nav-link.active {
        color: rgb(99, 99, 99) !important;
        border-bottom: 5px solid $secondary !important;
    }

    .custom-nav-link:hover {
        color: rgb(99, 99, 99);
        border-bottom: 5px solid $secondary !important;
    }
}

.image-tab-container {
    position: relative;
    width: 100%;
    height: auto;
}

.image-tab img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
}

.tab-mancha {
    position: absolute;
    top: 35%;
    right: 25%;
    width: 120vh;
    height: 85%;
    border-radius: 80vh;
    background-color: $primary;
    z-index: -1;
}

.custom-card {
    width: 17.5rem;
    height: 27rem;
    border-radius: 3%;
    padding: 0;
    margin: 0;
}

.card-img img {
    position: relative;
    width: 40%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.custom-card h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

.custom-card p {
    color: rgb(149, 147, 147);
    font-size: 1.2rem;
}

.card-body {
    margin: 20px;
    padding: 0;
}

.card-dots {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.card-button {
    margin-top: 1rem;
}

.accordion p {
    color: rgb(149, 147, 147);
    font-size: 1.2rem;
}

.accordion button {
    font-size: 1.2rem;
    font-weight: 400;
}